@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.top {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #eee;
    /* box-shadow: .4rem .4rem 1rem #111 inset,
    -.4rem -.4rem 1rem #333 inset; */
    justify-content: space-between;

}

.top1 {
    position: relative;
    /* border: 1px solid red; */
    /* justify-content: center; */
    display: flex;
    align-items: center;
    /* margin-left: 32px; */
    left: 10%;
    font-size: 13px;
    font-weight: 500;
}

.top1 p {
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    color: #666;
}

.top2 {
    position: relative;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    align-items: center;
    right: 23%;
    font-size: 13px;
    font-weight: 500;
}

.top2 p {
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    color: #666;
}

.top3 {
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    right: 17%;
}

.top3 p {
    font-weight: 200;
}

.top3 button {
    display: block;
    align-items: center;
    background-color: white;
    width: 73px;
    height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 300;
    color: #666;
    border: none;
}

.top3 button ul {
    display: none;
    text-decoration: none;
    list-style: none;
    height: 63px;
    background-color: white;
    padding: 2px;
}

.top3 button ul li {
    /* display: none; */

    text-decoration: none;
    list-style: none;
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: row; */
    /* margin-top: 7px; */
}

.top3 button ul:hover {
    display: block;
    /* background-color: brown; */
    /* text-decoration: none;
    list-style: none;
    height: 53px;
    background-color: white; */
    /* border: 1px solid; */
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    /* background: #1b1b1b; */
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    ;
    flex-wrap: wrap;
}

nav .logo {
 
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo img{
    height: 50px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #ffffff;
    margin-right: 30px;
}

nav ul li {
    /* float: left; */
    display: flex;
    justify-content: center;
    /* margin-top: 23px; */
    align-items: center;

}

nav ul li a {
    /* color: #f2f2f2; */
    text-decoration: none;
    font-size: 12px;
    color: #666;
    
    font-weight: 300;
    margin-right: 36px;
    padding: 4px 8px;
    letter-spacing: 1px;
    border-radius: 5px;
    /* transition: all 0.3s ease; */
}

.donatebtn {
    display: flex;
    /* margin-top: 23px; */
    /* margin-bottom: 23px; */
    justify-content: center;
    align-items: center;
    border: #0d6efd;
    background-color: #0D6Db7;
    /* padding: 10px; */
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    /* height: 33px; */
    padding-top: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    /* width: 40px; */
    /* margin-bottom: 23px; */
    color: aliceblue;
}

nav ul li a.active,
nav ul li a:hover {
    /* /* color: #0d6db7; */
    /* transition:  color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
    /* color: rgba(0,0,0,.85); */
    overflow-wrap: break-word;

    /* background: #fff; */
}

nav .menu-btn i {
    /* color: #fff; */
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}


/* mid section */
.mid-section {
    padding: 10px;
    margin-top: 33px;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    /* position: absolute; */
    align-items: center;
    background-image: url(./back.png);
    /* border: 1px solid red; */
}
.left-section {
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    flex-direction: column;

}
.heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
}
.heading h1 {

    font-weight: 800;
    font-size: 33px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub-heading {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    /* font-size: 18px; */
    letter-spacing: 1px;
    padding: 5px;
    /* border: 1px solid red; */
}
.sub-heading h3{
    font-size: 23px;
}
.heading .color_theme_green {
    color: #8dc63f;
}
.paragraph {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    /* width: 50%; */
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.paragraph p {
    color: rgba(0, 0, 0, .85);
    font-size: 17px;
}
.readmore-btn {
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
    /* border: 1px solid red; */
}
.readmore-btn button {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    /* width: 45px; */
    background: none;
    border: 1px solid;
    border-radius: 8px;
    color: #666;
}
.readmore-btn i {
    margin-left: 14px;
}

.right-section {
    /* width: 45%; */
    align-items: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    flex-direction: column;
}
.side-img {
    /* border: 1px solid rebeccapurple; */
    justify-content: left;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
}
.side-img img {
    height: 400px;
}
/* mid section 2 */
.mid-2 {
    padding: 10px;
    margin-top: 10px;
    /* border: 1px solid rgb(0, 17, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
}
.mid-2-top1{
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(182,239,73,.2);
    /* border: 1px solid rgb(255, 123, 0); */
    display: flex;
    padding-top: 23px;
    border-radius: 8px;
    padding-bottom: 23px;
}
.headingss h1{
    font-size: 25px;
}
.headingss h5{
    color: #0d6efd;
    font-size: 17px;
}
.mid-2-btns{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
}
.mid-2-btns button{
    padding: 16px 24px;
    /* gap: 34px; */
    margin-left: 8px;
    border: none;
    outline: none;
    background:#ffffff;
    border-radius: 5px;
}
.donate{
    background-color: #8dc63f !important;
    color: #ffffff;

}
.back{
    background-color: #424242 !important;
    color: #ffffff;
}


.mid-2-top2{
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid rgb(255, 0, 179); */
    display: flex;
}
.mid-2-top2 img{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px){
    .side-img img {
        height: 300px;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 20px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 15px;
    }
}

@media (max-width: 750px){
    .side-img img {
        height: 250px;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 18px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 15px;
    }
    .mid-2-btns button{
        padding: 8px 12px;
    }
    .mid-2-top1{
        /* width: 95%; */
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        background-color: rgba(182,239,73,.2);
        /* border: 1px solid rgb(255, 123, 0); */
        display: flex;
        padding-top: 23px;
        border-radius: 8px;
        padding-bottom: 23px;
    }
    .headingss h1{
        font-size: 20px;
    }
    .headingss h5{
        color: #0d6efd;
        font-size: 15px;
    }
}


@media (max-width: 600px){
    .side-img img {
        height: 200px;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 18px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 15px;
    }
    nav .logo img{
        height: 40px;
    }
}

@media (max-width: 500px){
    .side-img img {
        height: 150px;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 15px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 12px;
    }
    .mid-2-btns button{
        padding: 4px 6px;
        font-size: 11px;
    }
    .mid-2-top1{
        /* width: 95%; */
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        background-color: rgba(182,239,73,.2);
        /* border: 1px solid rgb(255, 123, 0); */
        display: flex;
        padding-top: 23px;
        border-radius: 8px;
        padding-bottom: 23px;
    }
    .headingss h1{
        font-size: 18px;
    }
    .headingss h5{
        color: #0d6efd;
        font-size: 13px;
    }
    nav .logo img{
        height: 35px;
    }
    .readmore-btn button {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        /* width: 45px; */
        background: none;
        border: 1px solid;
        font-size: 11px;
        border-radius: 8px;
        color: #666;
    }
}










@media (max-width: 1100px) {
    nav {
        padding: 0 10px 0 10px;
    }

}
@media (max-width: 1100px) {
    nav ul li a{

        font-weight: 300;
        margin-right: 6px;
        padding: 4px 8px; 
        letter-spacing: 0.5px;
    }

    
}
@media (max-width: 990px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        /* background: #111; */
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        color: black;
        /* transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}